#container{
    width: 1140px;
    background-color: blueviolet;
    
}

.blog-post-container{
    width: 75%;
    background: aquamarine;
}

#other-post{
    background-color: bisque;
}

.author-box{
    border:1px solid red;
}